.card-body {
    flex: 1 1 auto;
    width: 100%;
    justify-content: left;
    font-size: medium;
}


.bills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}


.list-group {
  width: 30%;
  margin-top: 20px;
}
table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

table, th, td, tr, thead, tbody {
    border: 1px solid black;
    white-space: normal;
    border-collapse: collapse;

  }


  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      margin: 0 0 1rem 0;
    }
    tr:nth-child(odd) {
      background: #ccc;
    }
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    /*
          Label the data
      You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
          */
    td:nth-of-type(1):before {
      content: "item index";
    }
    td:nth-of-type(2):before {
      content: "name";
    }
    td:nth-of-type(3):before {
      content: "cod";
    }
    td:nth-of-type(4):before {
      content: "desc";
    }
    td:nth-of-type(5):before {
      content: "um";
    }
    td:nth-of-type(6):before {
      content: "qty";
    }
    td:nth-of-type(7):before {
      content: "um price (lei)";
    }
    td:nth-of-type(8):before {
      content: "um price (eur)";
    }
    td:nth-of-type(9):before {
      content: "total/lei";
    }
    td:nth-of-type(10):before {
      content: "total/eur";
    }
    td:nth-of-type(11):before {
      content: "vat(lei)";
    }
    td:nth-of-type(12):before {
      content: "vat(eur)";
    }
    td:nth-of-type(13):before {
      content: "total+vat/lei";
    }
    td:nth-of-type(14):before {
      content: "total+vat/eur";
    }
  }


  @media print {
    body * {
      visibility: hidden;
    }
    #bills * {
      visibility: visible;
    }
    #bills {
      position: absolute;
      left: 0;
      top: 0;
    }

    .btn-secondary, .btn-danger, .pdfButton {
      display: none;
    }

  

  }

  .item-input {
    width: 100%;
    margin: 0;
    padding-top: 10px;

  }


  .object-content {
    display: flex !important;
    flex-wrap: wrap;
  }
  

  