.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.filter input,
.filter select,
.filter textarea {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.resetButton {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}
.resetButton:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.resetButton:active {
  position: relative;
  top: 1px;
}

.submitButton {
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 4px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}
.submitButton:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}
.submitButton:active {
  position: relative;
  top: 1px;
}

.pdfButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.pdfButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.pdfButton:active {
  position: relative;
  top: 1px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
  margin: 10px;
}


.card-body {
    flex: 1 1 auto;
    /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
    /* color: var(--bs-card-color); */
    width: 100%;
    justify-content: left;
    font-family: "Roboto", sans-serif;
    font-size: medium;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.decorated-text {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.decorated-text2 {
  color: #000000;
  background: #ffffff;
  text-shadow: 1px 1px 0 #bcbcbc, 1px 1px 0 #9c9c9c;
  color: #000000;
  background: #ffffff;
}

.card-header {
  align-items: center;
  justify-content: space-evenly;
}

.list-group {
  width: 30%;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

table, th, td {
    border: 1px solid black;
    white-space: normal;
  }