.card-body {
  justify-content: center;
  margin: 0;
  margin: 0;
background-color: #fff;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.container {
  width: 100vw;
  margin-left: 0;
  padding: 0;
  margin: 20px 0;
  box-sizing: border-box;
  max-width: 1500px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1340px !important;
}

.form-label {
  margin-top: 20px;
  color: white;
  font-weight: bolder;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.client-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: center;
  margin: 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.client-group div {
  width: calc(16% - 1px);
  border-style: dotted;
  border-width: 1px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.decorated-text2 {
  color: #000000;
  background: #ffffff;
  text-shadow: 1px 1px 0 #bcbcbc, 1px 1px 0 #9c9c9c;
  color: #000000;
  background: #ffffff;
}

.card-header {
  align-items: center;
  justify-content: space-evenly;
  transform: rotate(-1deg);
background-color: #f5f5f5;
padding: 10px 20px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.list-group {
  width: 100% !important;
  margin-top: 0px !important;
}

.list-group-item {
  padding: 0 !important;
}

@media print {
  body * {
    visibility: hidden;
  }
  #clients * {
    visibility: visible;
  }
  #clients {
    position: absolute;
    left: 0;
    top: 0;
  }
  .btn-secondary,
  .btn-danger {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .card-header {
    flex-direction: column;
    text-align: center;
  }
  .card-header h5 {
    margin-bottom: 0.5rem;
  }
  .card-header button {
    width: 100%;
    margin-top: 0.5rem;
  }
}

.search-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
}

.search-filter input,
.search-filter select,
.search-filter textarea {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: calc(33.33% - 20px);
  margin-top: 5px;
  margin-bottom: 5px;
}
