.card-body {
  justify-content: center;      
}

.clients {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.decorated-text2 {
  color: #000000;
background: #FFFFFF;
text-shadow: 1px 1px 0 #bcbcbc, 1px 1px 0 #9c9c9c;
color: #000000;
background: #FFFFFF;
}

.card-header {
  align-items: center;
  justify-content: space-evenly;
}

.list-group {
  width: 100% !important; 
  margin-top: 0px !important;
}

.list-group-item {
  padding: 0 !important;
}

@media print {
  body * {
    visibility: hidden;
  }
  #clients * {
    visibility: visible;
  }
  #clients {
    position: absolute;
    left: 0;
    top: 0;
  }
  .btn-secondary, .btn-danger {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .card-header {
    flex-direction: column;
    text-align: center;
  }
  .card-header h5 {
    margin-bottom: 0.5rem;
  }
  .card-header button {
    width: 100%;
    margin-top: 0.5rem;
  }
}