.card-body {
  justify-content: center;
  margin: 0;
}
.container {
  width: 100vw;
  margin-left: 0;
  padding: 0;
  margin: 20px 0;
  box-sizing: border-box;
  max-width: 1500px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px !important;
}

.form-label {
  margin-top: 20px;
  color: white;
  font-weight: bolder;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.client-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: center;
  margin: 0;
  
}
.client-group div {
  width: calc(16% - 1px);
  border-style: dotted;
  border-width: 1px;


}

.decorated-text2 {
  color: #000000;
  background: #ffffff;
  text-shadow: 1px 1px 0 #bcbcbc, 1px 1px 0 #9c9c9c;
  color: #000000;
  background: #ffffff;
}

.card-header {
  align-items: center;
  justify-content: space-evenly;
}

.list-group {
  width: 100% !important;
  margin-top: 0px !important;
}

.list-group-item {
  padding: 0 !important;
}

@media print {
  body * {
    visibility: hidden;
  }
  #clients * {
    visibility: visible;
  }
  #clients {
    position: absolute;
    left: 0;
    top: 0;
  }
  .btn-secondary,
  .btn-danger {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .card-header {
    flex-direction: column;
    text-align: center;
  }
  .card-header h5 {
    margin-bottom: 0.5rem;
  }
  .card-header button {
    width: 100%;
    margin-top: 0.5rem;
  }
}
