@media print {
    body * {
      visibility: hidden;
    }
    #prototypes * {
      visibility: visible;
    }
    #prototypes {
      position: absolute;
      left: 0;
      top: 0;
    }
    .btn-secondary, .btn-danger {
      display: none;
    }
  }
  

  @media only screen and (max-width: 767px) {
    .card-header {
      flex-direction: column;
      text-align: center;
    }
    .card-header h5 {
      margin-bottom: 0.5rem;
    }
    .card-header button {
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  .card-header {
  align-items: center;
  justify-content: space-evenly;
}

.list-group {
  width: 100% !important; 
  margin-top: 0px !important;
}

.list-group-item {
  padding: 0 !important;
}

.card-body {
  justify-content: center;      
}

/* List */
ul {
  counter-reset: index;  
  padding: 0;
  max-width: 300px;
}

/* List element */
li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

