.App {
  text-align: center;
  width: "100%";
  display: "flex";
  justify-content: "space-between";
  min-height: 100vh;
  position: relative;
}

body {
  background: linear-gradient(to bottom, #b39d5c, #a98e44);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto;
}

* {
  border: 1px solid red;
}
